.App {
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.header-content {
  display: flex;
  justify-content: space-between;
}

.App-intro {
  font-size: 2em;
}

.form-group {
  display: flex;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-group-item span {
  margin-right: 15px;
}


